/* css/common.js */
 
/* 도화지 크기 설정 */
html, body { padding: 0; margin: 0; width: 100%; height: 100%; }
 
/*.button{
    position: absolute;
    border: black;
    text-align: center;
    font-size: 100px;
    background-color: white;
}*/

@font-face {
    font-family: 'UhBeeSe_hyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6fc; 
}

.canvas {
    width: 960px;
    height: 661px;
    border-radius: 15px;
}

.paper{
    position: absolute;
    width: 960px;
    height: 661px;
}

.textplace{
    position: absolute;
    width: 960px;
    height: 661px;
}

.textbox1{
    position: absolute;
    top: 125px;
    left: 145px;
    width: 300px;
    height: 66px;
    resize: none;
    
    border: none;
    background-color: transparent;
    outline: none;
    font-family: 'UhBeeSe_hyun';
    font-size: 20px;
}

.textbox2{
    position: absolute;
    top: 125px;
    left: 490px;
    width: 300px;
    height: 66px;
    resize: none;
    
    border: none;
    background-color: transparent;
    outline: none;
    font-family: 'UhBeeSe_hyun';
    font-size: 20px;
}

.textbox3{
    position: absolute;
    top: 225px;
    left: 145px;
    width: 300px;
    height: 190px;
    resize: none;
    
    border: none;
    background-color: transparent;
    outline: none;
    font-family: 'UhBeeSe_hyun';
    font-size: 20px;
}

.textbox4{
    position: absolute;
    top: 225px;
    left: 490px;
    width: 300px;
    height: 190px;
    resize: none;
    
    border: none;
    background-color: transparent;
    outline: none;
    font-family: 'UhBeeSe_hyun';
    font-size: 20px;
}

.controls__btns button:active {
    transform: scale(0.98);
}
  
.controls__btns button {
    /*all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;*/
    background: transparent;
    border: none;
    color: transparent;   
}

._b{
    height: 50px;
    width: auto;
}